<div class="min-h-screen flex items-center justify-center bg-transparent text-white">
    <div class="bg-black/50 p-12 rounded-3xl shadow-lg w-full max-w-lg">
        <h2 class="text-2xl font-bold mb-6 text-center">Register</h2>

        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <!-- Campo de Nombre -->
            <div class="mb-4">
                <label class="block text-gray-300 mb-2" for="name">Name</label>
                <input type="text" id="name" name="name" [(ngModel)]="user.name"
                    class="bg-black/50 w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300"
                    placeholder="Enter your name" required />
            </div>

            <!-- Campo de Email -->
            <div class="mb-4">
                <label class="block text-gray-300 mb-2" for="email">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="user.email"
                    class="bg-black/50 w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300"
                    placeholder="Enter your email" required />
            </div>

            <!-- Campo de Contraseña -->
            <div class="mb-6">
                <label class="block text-gray-300 mb-2" for="password">Password</label>
                <div class="relative">
                    <input [type]="showPassword ? 'text' : 'password'" id="password" name="password"
                        [(ngModel)]="user.password"
                        class="bg-black/50 w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300 pr-10"
                        placeholder="Enter your password" required />
                    <div (click)="showPassword = !showPassword"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer">
                        <svg *ngIf="!showPassword" class="h-5 w-5 text-gray-300" fill="none" stroke="currentColor"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                        </svg>
                        <svg *ngIf="showPassword" class="h-5 w-5 text-gray-600" fill="none" stroke="currentColor"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a10.05 10.05 0 011.16-2.525M6.343 6.343a9.953 9.953 0 0111.314 0m-11.314 0l4.316 4.316m0 0a3 3 0 104.243 4.243" />
                        </svg>
                    </div>
                </div>
            </div>

            <!-- Botón de Registro -->
            <button type="submit"
                class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-200">
                Register
            </button>
        </form>
    </div>
</div>