<!-- src/app/features/header/header.component.html -->
<header
  class="flex justify-between items-center p-4 bg-gradient-to-r from-blue-300 to-purple-400 text-black animate-gradient"
>
  <div class="text-lg font-bold">
    <img href="src/app/assets/bookWithBookmark.svg" />
    Legal Assistant RAG
  </div>
  <nav class="space-x-4">
    <a routerLink="/user" class="hover:text-gray-300">User</a>
    <a routerLink="/documents" class="hover:text-gray-300">Documents</a>
    <a routerLink="/cases" class="hover:text-gray-300">Cases</a>
    <a routerLink="/assistant" class="hover:text-gray-300">Assistant</a>
  </nav>
  <div class="flex flex-row space-x-4">
    <!-- Botones de Login y Register se muestran solo si no está logueado -->
    <ng-container *ngIf="!(isLoggedIn$ | async); else loggedIn">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        <a routerLink="/login">Login</a>
      </button>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        <a routerLink="/register">Register</a>
      </button>
    </ng-container>

    <!-- Botón de Logout se muestra solo si está logueado -->
    <ng-template #loggedIn>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        (click)="logout()"
      >
        Logout
      </button>
    </ng-template>
  </div>
</header>
